@font-face {
  font-family: Noto Sans KR Thin;
  src: url(/src/assets/font/noto/NotoSansKR-Thin.otf)
}

@font-face {
  font-family: Noto Sans KR Regular;
  src: url(/src/assets/font/noto/NotoSansKR-Regular.otf)
}

@font-face {
  font-family: Noto Sans KR Medium;
  src: url(/src/assets/font/noto/NotoSansKR-Medium.otf)
}

@font-face {
  font-family: Noto Sans KR Light;
  src: url(/src/assets/font/noto/NotoSansKR-Light.otf)
}

@font-face {
  font-family: Noto Sans KR Bold;
  src: url(/src/assets/font/noto/NotoSansKR-Bold.otf)
}